<div class="home container-fluid">
    <div class="row justify-content-center" >
        <div class="col-12 bg-dark middle">
            <h1 > MyTour.com </h1>
    
  
            <p style="text-shadow: 0px 0px #7d7d7d; color: black; font-weight: 300;" > MyTour is India's leading player for cab bookings. With the cheapest fare guarantee, experience great value at the lowest price. Instant notifications ensure current flight status, instant fare drops, amazing discounts, instant refunds and rebook options, price comparisons and many more interesting features.</p>
            <a routerLink="signup">
              <button style="border: 2px solid white" class="btn bg-primary">Sign Up</button>
            </a>
            </div>
        
       

        <div  class="col-12 pt-3 lower">

            <h2 style="color: rgb(83, 83, 83); text-shadow: 1px 1px white;" class="mb-3 mt-3">Trending Locations from our Users...</h2>
            <div class="col-md-8 mb-5 mt-3">
              <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounder">
                  <div class="carousel-item active">
                    <img src="assets/goa.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Goa</h5>
                      <p>Sea lovers are out there.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/manali.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Manali</h5>
                      <p>Brilliant mountains views.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/shiml2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Shimla</h5>
                      <p>A great place for snow lovers.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="assets/ooty.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Ooty</h5>
                      <p>A great Place to visit for greenary.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            
</div>
